server:
  port: 8082

spring:
  application:
    name: ms-cuentas

  datasource:
    url: jdbc:postgresql://localhost:5432/cuentas_db
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
